:root {
    --blue: #0ac2fc;
    --red: #f90707;
    --purple: #f9076a;
}


/*Globales*/

html {
    box-sizing: border-box;
}

*,
*::before,
*,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}


/*Extra*/

.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}

@media (min-width: 786px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton-amarillo {
    background-color: #e08709;
    display: block;
}

.boton-verde {
    background-color: #71b100;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.encabezado-nosotros {
    font-weight: 300;
    text-align: center;
}

@media (min-width: 768px) {
    .icono-nosotros {
        display: flex;
        justify-content: space-between;
    }
}

.icono {
    text-align: center;
}

@media (min-width: 768px) {
    .icono {
        flex-basis: calc(33.3% - 1rem);
    }
}

.icono h3 {
    text-transform: uppercase;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}


/*Header*/

.side-header {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.Contenedor-header {
    background-image: url(../img/header.jpg);
    height: 100vh;
    background-position: top center;
    background-size: cover;
    grid-row: 1 / 2;
}

.redes-sociales {
    text-align: center;
    padding-bottom: 15rem;
}

.redes-sociales a {
    color: #ffffff;
    font-size: 2em;
    margin-right: 20px;
}

.redes-sociales a:last-child {
    margin-right: 0px;
}

.facebook a:hover {
    background-color: var(--blue);
    transition: .3s;
    cursor: pointer;
}

.informacion-evento {
    text-align: center;
    color: #ffffff;
}

@media (min-width: 768px) {
    .informacion-evento {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
    }
}

.informacion-evento p {
    margin: 0;
    display: inline;
    font-size: 20px;
    text-transform: uppercase;
}

header h1 {
    color: #ffffff;
    max-width: 60rem;
    line-height: 2;
    text-align: center;
}

.slogan span {
    color: #979a9a;
}


/*Navegacion*/

.navbar {
    margin-top: 0rem;
    margin-bottom: 2rem;
}


/*principal*/

.contenido-anuncios {
    margin-left: 2.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
    .contenido-anuncios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}

.container {
    margin-bottom: 2rem;
}


/*footer*/

.site-footer {
    background-color: #333333;
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0;
    text-align: center;
}

@media (min-width: 768px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }
}

.site-footer nav {
    display: none;
}

@media (min-width: 768px) {
    .site-footer nav {
        display: block;
    }
}

.copyright {
    margin: 0;
    color: #ffffff;
}


/*Navegacion*/

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    display: block;
}

@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 2.2rem;
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin-right: 0rem;
    }
}

.navegacion a:hover {
    color: #71b100;
}


/*anuncios*/

@media (min-width: 768px) {
    .contenedor-anuncios {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.anuncio {
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .anuncios {
        flex: 0 0 calc(33.3% - 1rem);
    }
}

.anuncios {
    flex: 0 0 calc(33.3% - 1rem);
    border: 0.1rem #b5b5b5 solid;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0;
}

.precio {
    color: #71b100;
    font-weight: 700;
}

.icono-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    max-width: 50rem;
    flex: 1;
}

.icono-caracteristicas li {
    display: flex;
}

.icono-caracteristicas li img {
    margin-right: 2rem;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}


/*Blog*/

@media (min-width: 786px) {
    .contenedor-blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.texto {
    margin: 0 auto;
}